@model Shop.Data.Models.Car

<div class="col-lg-3">
    <img class="img-thumbnail" src="@Model.Imgs" alt="@Model.Name" />

    <h2> Модель: @Model.Name   </h2>
    <p>Цена:@Model.ShortDesc</p>
    <p>Цена:@Model.Prise.ToString("c")</p>
    <p><a class="btn btn-warning" asp-controller="ShopCar" asp-action="AddToCar" asp-route-id="@Model.Id">Добавить в корзину</a> </p>
</div>