@model HomeViewModel

    <h1>Лучшие автомобили</h1>
    <div class="row mt-5 mb-2">
        @{
            foreach (Car car in Model.favCars) //глобальный обьект который передается через представление в контроллере viewModels
            {
                @Html.Partial("AllCars", car)
            }
        }
    </div>