@model ShopCarViewModel

<div class="container">
    @foreach (var el in Model.ShopCar.ListShopItems)
    {
        <div class="alert alert-warning mt-4">
            <b> Автомобиль: </b> @el.Car.Name<br />
            <b>Цена:</b> @el.Car.Prise.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="CheckOut"> Оплатить</a>
</div>